version: '3.9'

services:
  mongodb:
    image: mongo:8.0
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password123
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - mern-network

  backend:
    build: ./backend
    container_name: backend
    depends_on:
      - mongodb
    environment:
      MONGO_CONN_STR: mongodb://mongodb:27017/todo?authSource=admin
      MONGO_USERNAME: admin
      MONGO_PASSWORD: password123
      USE_DB_AUTH: "true"
      PORT: 8080
    ports:
      - "8080:8080"
    networks:
      - mern-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "3000:80"
    networks:
      - mern-network
    restart: unless-stopped

volumes:
  mongo-data:
    driver: local

networks:
  mern-network:
    driver: bridge
