version: "3.9"

services:
  mongodb:
    image: mongo:8.0
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      MONGO_CONN_STR: mongodb://mongo:27017/todo
      USE_DB_AUTH: "false"
      PORT: 8080
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "3000:80"
    environment:
      REACT_APP_BACKEND_URL: http://localhost:8080/api/tasks
    depends_on:
      - backend

volumes:
  mongo-data:
